* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover h1.logo {
    color: #ff3f3f;
    transition: all 350ms;
}

a.menuLink {
    --b: 0.1em;
    /* the thickness of the line */
    --c: #ff3f3f;
    /* the color */

    color: #0000;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #fff 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

a.menuLink:hover {
    --_p: 100%;
    --_s: .3s;
}

/* a:hover{
    background-color: #232323;
    border-radius: 40%;
    color: aliceblue;
    margin: 0.3rem;
    padding: 1.4rem;
    transition: all 450ms ease-in-out;
    cursor: pointer;
} */


/* 
a:not(:hover) {
    transition: all 450ms ease-in-out;
} */

body {
    font-size: 3rem;
    font-family: 'Gemunu Libre';
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: red;
}

h2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: red;
}

h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-size: 3rem;
}

.logo {
    color: aliceblue;
    text-shadow: black .2rem -.2rem, black -.2rem .2rem, black .2rem .2rem, black -.2rem -.2rem;
}

.mainBg {
    /* background-image: url(../Images/backgroudOne.png); */
    /* background: radial-gradient(circle, rgb(61, 59, 93) 0%, rgba(0, 47, 74, 1) 70%); */
    /* background: linear-gradient(to top, rgb(61, 59, 93) 0%, rgba(0, 47, 74, 1) 50%, rgb(61, 59, 93) 100%); */
    background-image: url(../Images/bgWallpapper.jpg);
    background-position: center center;
    background-size: cover;
    color: aliceblue;
    box-shadow: inset 0px 0px 20px 12px black;
}

.secondBg {
    /* background: linear-gradient(to top, #665a6e, #311838); */
    
    color: aliceblue;
    position: relative;
    z-index: 1;
    background-color: transparent;
    /* border: 4rem #000; */
}

.secondBg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../Images/bgWallpapper.jpg);
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
    box-shadow: inset 0px 0px 20px 12px black;
}

.menu {
    /* background: linear-gradient(to bottom,#2d0846, #311838); */
    /* background: radial-gradient(circle, rgba(61,59,93,1) 0%, rgba(0,47,74,1) 70%); */
    background: linear-gradient(180deg, rgb(0, 0, 0) 60%, rgba(61, 59, 93, 0) 100%);
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.items {
    display: flex;
    list-style: none;
}

.items li {
    padding: 0 3rem;
}

section {
    min-height: 100vh;
    padding: 0 10rem;
}

.waContainer{
    display: inline-block;
    position: relative;
}

.waLink{
    background-image: url(../Images/waLogo.png);
    background-position: center center;
    background-size: 100px;
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 500ms ease-in-out;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
}

.waLink:hover{
    transform: rotate(360deg);
}

.waBox{
    background: rgb(84, 238, 84);
    width: 0px;
    height: 80px;
    position: absolute;
    white-space: nowrap;
    left: 45px;
    top: 50px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translateX(0) translateY(-50%);
    z-index: 1;
    overflow: hidden;
    text-align: right;
    border-radius: 10px;
    font-size: 26pt;
    font-weight: 900;
    box-shadow: rgb(84, 238, 84) 2px -2px 10px 1px, rgb(84, 238, 84) -2px 2px 10px 1px;
    text-shadow: #000 -3px 3px 0;
}

.waContainer:hover .waBox{
    opacity: 1;
    transform: translateX(10px) translateY(-50%);
    width: 180px;
    padding: 10px 20px;
    /* height: 80px; */
}

.resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    justify-items: center;
    align-content: center;
}

.meImg {
    border-radius: 50%;
    opacity: 90%;
    box-shadow: 0px 0px 20px 12px #290c0cb4;
}

.work {
    padding-top: 10rem;
}

.projets {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
}

.h3Project{
    text-decoration: underline;
}

.hoverMeImg{
    display: inline-block;
    overflow: hidden;
    margin: 0 5px;
}

.hoverMeImg img{
    transition: transform 0.3s ease-in-out;
    display: block;
    transform-origin: center;
    margin-bottom: 10px;
}

.hoverMeImg img:hover{
    transform: rotate(2deg) scale(1.1);
}

.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    padding-top: 80px;
}

.padAbout {
    padding-top: 80px;
}

.overflowClass {
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

.overflowClass::-webkit-scrollbar{
    width: 6px;
}

.overflowClass::-webkit-scrollbar-track{
    background: #5c1d1d;
    border-radius: 15px;
}

.overflowClass::-webkit-scrollbar-thumb{
    background-color: #ffa7a7;
    border-radius: 15px;
}

.main-container {
    position: relative;
    width: 500px;
}

/*creating line for timeline*/
.main-container::after {
    content: '';
    position: absolute;
    width: 10px;
    background-color: #ffa7a7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/*Adjusting box of all content*/
.text-wrapper {
    padding: 10px 30px;
    position: relative;
    width: 51%;
    box-sizing: border-box;
    margin: 50px 0;
}

.text-wrapper::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 25px;
    right: -10px;
    background-color: #ff3f3f;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/*for left events*/
.left {
    left: 0;
}

/*for right events*/
.right {
    left: 50%;
}

.right::after {
    left: -10px;
}

/*content box colour padding and radius for circular corner*/
.content {
    padding: 15px 15px 15px 17px;
    background-color: #ff3f3f;
    border-radius: 4px;
    max-width: 300px;
    max-height: 200px;
}

/*setting text property of event heading*/
.content h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    letter-spacing: 1px;
}

/*setting text property of event content*/
.content p {
    color: #f8f8ff;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2px;
}

.date {
    font-size: 2rem;
    text-align: right;
    padding-left: 120px;
}

section.secMinum {
    min-height: 100vh;
    padding: 0 5rem;
    /* background: radial-gradient(circle, rgb(61, 59, 93) 0%, rgba(0, 47, 74, 1) 70%); */
    /* background: linear-gradient(to bottom, rgb(11 52 77) 3%, rgb(0, 0, 0) 30%); */
    background: linear-gradient(to top, rgb(26, 26, 26) 0%, rgb(0, 0, 0) 30%);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

/* 
.bgFoot img{
    z-index: 2;
    background-color: #212121;
} */

/* .bgFoot {
    padding: 25vh;
    position: relative;
    overflow: hidden;
}

.bgFoot::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: #212121 0 0 repeat;
    transform: rotate(15deg);
} */

.contactClass {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: center;
    padding: 15%;
}

.sendMeClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendMeClass input, 
.sendMeClass textarea {
    width: 550px;
    height: 40px;
    margin: 5px 25px;
    border-radius: 8px;
    font-size: 12pt;
}

.sendMeClass label{
    margin: 5px;
    width: 550px;
}

.sendMeClass textarea{
    height: 180px;
}

.sendMeClass .sub {
    width: 550px;
    height: 40px;
    margin: 10px 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ff3f3f;
    border: solid 1px #5c1d1d;
    transition: all 200ms;
}

.sub:hover {
    cursor: pointer;
    background-color: #5c1d1d;
    color: aliceblue;
}

.sendMeClass {
    border: #fff solid 2px;
}

.bgFoot {
    display: flex;
    justify-content: space-evenly;
}

/* .imgLink{
    position: relative;

}

.imgLink::before{
    background: #cce6ff80;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms ease-in-out;
    z-index: 1;
}

.imgLink:hover::before{
    transform: scaleX(1);
    transform-origin: left;
} */

.img-insta,
.img-link,
.img-git {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background-size: 75px;
    width: 75px;
    height: 75px;
    border: #fff solid 1px;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background-size: 75px;
    width: 75px;
    height: 75px;
}

.img-insta {
    background-image: url(../Images/instagramLogo1.png);
    background-position: center center;
    z-index: 2;
}

.img-link {
    background-image: url(../Images/linkedinLogo1.png);
    background-position: center center;
    z-index: 2;
}

.img-git {
    background-image: url(../Images/githubLogo1.png);
    background-color: #fff;
    background-position: center center;
    z-index: 2;
}

.box::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10%;
    background-color: white;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    animation: animate 4s linear infinite;
}

.box:hover::before {
    width: 25px;
    height: 340%;
}

.box::after {
    content: '';
    position: absolute;
    inset: 10px;
    background-color: #000;
    border-radius: 18px;
}

.box:hover {
    border-radius: 0%;
    background-size: 250px 75px;
    width: 255px;
    height: 80px;
    transition: all 200ms ease-out;
    border-radius: 18px;
}

.img-insta:hover {
    background-image: url(../Images/instagramLogo2.png);
    border-radius: 0%;
    background-size: 250px 75px;
    width: 250px;
    height: 75px;
    transition: all 200ms ease-out;
    background-color: #fff;
    border-radius: 18px;
    z-index: 2;
}

.img-link:hover {
    background-image: url(../Images/linkedinLogo2.png);
    border-radius: 0%;
    background-size: 250px 75px;
    width: 250px;
    height: 75px;
    transition: all 200ms ease-out;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
}

.img-git:hover {
    background-image: url(../Images/githubLogo2.png);
    border-radius: 0%;
    background-size: 230px 75px;
    width: 250px;
    height: 75px;
    transition: all 200ms ease-out;
    background-color: #fff;
    border-radius: 18px;
    z-index: 2;
}

.footerClass {
    display: flex;
    justify-content: center;
}

.footerA:hover {
    text-shadow: #665a6e .02rem -.02rem, #665a6e -.02rem .02rem, #665a6e .02rem .02rem, #665a6e -.02rem -.02rem;
}

.footerA:link {
    color: #5c1d1d;
}

.footerA:visited {
    color: #5c1d1d;
}

body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar:hover{
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #5c1d1d;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #ffa7a7;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}